// Base 2020 styles created in Early Q42020 for usage among Digital Experience team as a style reset
// 2020base is included in: enterprise, trial, home, installation, out of office, pricing, topics 
// Feel free to add pages used here to keep track of that 

@import "2020variables";
@import "2020utilities";
@import "2020fonts";
@import "2020buttons";
@import "2020cards";
@import "components/nav";
@import "components/search";
@import "components/footer";

//////////////////////////////
// For Google Optimize async-hide //////////////////////////////
//////////////////////////////

//sass-lint:disable-all
.async-hide {
  opacity: 0 !important;
}

//////////////////////////////
// end Google Optimize //////////////////////////////
//////////////////////////////

.display-none{
  display: none;
}

/* I can't tell if we need .animated or not. It seems to negatively impact the footer */
/*
.animated,
.animated a {
  transition: all .2s linear;
}
*/

* {
  margin-top: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background: $color-primary;
  /* ^ same color as the footer */
}

body {
  background: $color-white;
  /* the below will help pages to better match Figma files */
  /* https://www.reddit.com/r/FigmaDesign/comments/hg8sa0/designs_made_in_figma_and_real_page_look/ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  text-rendering: optimizeLegibility;
  /* end Figma settings */
}

html {
  font-size: 10px;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: $color-white;
  color: $color-black333;
  font-family: $font-family-primary;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img {
  height: inherit;
  max-width: 100%;
}

a:not(.btn):not(.slp-btn),
a:not(.btn):not(.slp-btn):active,
a:not(.btn):not(.slp-btn):hover,
a:not(.btn):not(.slp-btn):focus {
  color: #4b3589;
  text-decoration: none;
}

.container2020 a:not(.btn),
.container2020 a:not(.btn):active,
.container2020 a:not(.btn):hover,
.container2020 a:not(.btn):focus {
  text-decoration: underline;
}

.container2020 a.hide-underline {
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button,
a {
  font-weight: 400;
}

a,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
}

h1,.h1 {
  font-size: 4.2rem;
}

h2,.h2 {
  font-size: 3.4rem;
}

h3,.h3 {
  font-size: 2.8rem;
}

h4,.h4 {
  font-size: 2.4rem;
}

h5,.h5 {
  font-size: 1.8rem;
}

h6,.h6 {
  font-size: 1.4rem;
}

li {
  margin-top: .5em;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
}

button {
  background: transparent;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
}

.row:before,
.row:after {
  content: " ";
  display: table;
  width: 100%;
}

.mobile-adaptive-show-under-lg,
.mobile-adaptive-show-under-md
.mobile-adaptive-show-under-sm {
  display: none;
}

@media (max-width: 959px) {

  .mobile-adaptive-show-under-lg {
    display: block;
  }

  .mobile-adaptive-hide-under-lg {
    display: none;
  }

}

@media (max-width: 768px) {

  .mobile-adaptive-show-under-md {
    display: block;
  }

  .mobile-adaptive-hide-under-md {
    display: none;
  }

}

@media (max-width: 479px) {

  .mobile-adaptive-show-under-sm {
    display: block;
  }

  .mobile-adaptive-hide-under-sm {
    display: none;
  }

}

//////////////////////////////
/* VERTICAL RHYTHM *///////////////////////////////
//////////////////////////////

// For the below items, set margins using the classnames u-margin-bottom-(xs|sm|md|lg|xl)

h1:not([class*="u-margin"]),
h2:not([class*="u-margin"]),
h3:not([class*="u-margin"]),
h4:not([class*="u-margin"]),
h5:not([class*="u-margin"]),
h6:not([class*="u-margin"]) {
  margin-bottom: 0;
}

// The below items have built in default margin-bottom of 20px

p:not([class*="u-margin"]),
ul:not([class*="u-margin"]),
div[class*="col-md"]:not([class*="u-margin"]) {
  margin-bottom: 20px;
}

//////////////////////////////
/* GRID *///////////////////////////////
//////////////////////////////

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-flex > [class*="col-md-"] {
  display: flex;
  flex: 0 0 auto;
  float: none;
}

.col-md-1 {
  width: calc(100% * (1 / 12));
}

.col-md-2 {
  width: calc(100% * (2 / 12));
}

.col-md-3 {
  width: calc(100% * (3 / 12));
}

.col-md-4 {
  float: left;
  width: calc(100% * (4 / 12));
}

.col-md-5 {
  width: calc(100% * (5 / 12));
}

.col-md-6 {
  width: calc(100% * (6 / 12));
}

.col-md-7 {
  width: calc(100% * (7 / 12));
}

.col-md-8 {
  width: calc(100% * (8 / 12));
}

.col-md-9 {
  width: calc(100% * (9 / 12));
}

.col-md-10 {
  width: calc(100% * (10 / 12));
}

.col-md-11 {
  width: calc(100% * (11 / 12));
}

.col-md-12 {
  width: calc(100% * (12 / 12));
}

.col-md-offset-1 {
  margin-left: calc(100% * (1 / 12));
}

.col-md-offset-2 {
  margin-left: calc(100% * (2 / 12));
}

.col-md-offset-3 {
  margin-left: calc(100% * (3 / 12));
}

.col-md-offset-4 {
  margin-left: calc(100% * (4 / 12));
}

.col-md-offset-5 {
  margin-left: calc(100% * (5 / 12));
}

.col-md-offset-6 {
  margin-left: calc(100% * (6 / 12));
}

.col-md-offset-7 {
  margin-left: calc(100% * (7 / 12));
}

.col-md-offset-8 {
  margin-left: calc(100% * (8 / 12));
}

.col-md-offset-9 {
  margin-left: calc(100% * (9 / 12));
}

.col-md-offset-10 {
  margin-left: calc(100% * (10 / 12));
}

.col-md-offset-11 {
  margin-left: calc(100% * (11 / 12));
}

.col-md-offset-12 {
  margin-left: calc(100% * (12 / 12));
}

@media (max-width: 959px) {

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    float: none;
    margin-left: 0;
    max-width: 100%;
    width: inherit;
  }

}

//////////////////////////////
/* CONTAINER *//////////////////////////////
//////////////////////////////

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(98%);
}

.container.container2020 {
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 5em;
}

.container:before,.container:after {
  content: " ";
  display: table
}

.container:after {
  clear: both
}

//////////////////////////////
/* BACKGROUND STRIPING *//////////////////////
//////////////////////////////

.highlight-gray {
  background: $color-gray-extra-light;

  *:not(.btn) {
    color: $color-black333;
  }
}

.highlight-gray {
  background: $color-gray-extra-light;

  *:not(.btn) {
    color: $color-black333;
  }
}

.highlight-gray-light {
  background: $color-gray-super-light;

  *:not(.btn) {
    color: $color-black333;
  }
}

.highlight-gray {
  background: $color-gray-extra-light;

  *:not(.btn) {
    color: $color-black333;
  }
}

.highlight-purple {
  background-color: $color-primary;

  *:not(.btn):not(input):not(.btn-close-modal) {
    color: $color-white;
  }

  a:not(.btn) {
    text-decoration: underline;
  }

  a:not(.btn):active,
  a:not(.btn):focus,
  a:not(.btn):hover {
    color: $color-white;
  }
}

div[class^="highlight"] {
  position: relative;
}

div[class^="highlight"]:before {
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  top: -35px;
  width: 100%;
  z-index: -1;
}

div[class^="highlight"]:after {
  bottom: -35px;
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

div[class^="highlight"].flattop:before {
  display: none;
}

div[class^="highlight"].flatbottom:after {
  display: none;
}

.highlight-black:before {
  background-image: linear-gradient(to right top, $color-event-black 0%, $color-event-black 48%, transparent 50%);
}

.highlight-black:after {
  background-image: linear-gradient(to left bottom, $color-event-black 0%, $color-event-black 48%, transparent 50%);
}

.highlight-gray:before {
  background-image: linear-gradient(to right top, $color-gray-extra-light 0%, $color-gray-extra-light 48%, transparent 50%);
}

.highlight-gray:after {
  background-image: linear-gradient(to left bottom, $color-gray-extra-light 0%, $color-gray-extra-light 48%, transparent 50%);
}

.highlight-gray-light:before {
  background-image: linear-gradient(to right top, $color-gray-super-light 0%, $color-gray-super-light 48%, transparent 50%);
}

.highlight-gray-light:after {
  background-image: linear-gradient(to left bottom, $color-gray-super-light 0%, $color-gray-super-light 48%, transparent 50%);
}

.highlight-purple:before {
  background-image: linear-gradient(to right top, $color-primary 0%, $color-primary 48%, transparent 50%);
}

.highlight-purple:after {
  background-image: linear-gradient(to left bottom, $color-primary 0%, $color-primary 48%, transparent 50%);
}

.bg-black-2020 {
  background-color: $color-black333;
}

.bg-purple-dark-2020 {
  background-color: $color-purple-dark-2020;
}

.bg-purple-light-2020 {
  background-color: $color-purple-light-2020;
}

.bg-orange-2020 {
  background-color: $color-orange-background-2020;
}

//////////////////////////////
/* TODO: BREAK INTO SEPARATE STYLESHEETS OR REPLACE *//////////////////////
//////////////////////////////

/* Fixes a bug with the header nav links wrapping at desktop size... */
/* but needs to be mediaqueried so it doesn't cause the reverse problem when mobile needs to wrap */
@media (min-width: 993px){
 
  .navbar a {
    white-space: nowrap;
  }

}

/* cookiebot consent warning */
.cbnc-message {
  background: $color-gray-extra-light-alt;
  border: 1px solid $color-gray-medium;
  color: $color-gray;
  font-size: .88em;
  font-style: italic;
  margin-bottom: 10px;
  padding: 6px 12px;
}

.cbnc-marketo {
  background-color: #ffffff;
  border-color: $color-primary;
  border-radius: 16px;
  color: #333333;
  font-style: normal;
}

.cbnc-marketo .cbnc-message-toggle {
  color: $color-primary;
  font-style: italic;
  text-align: center;
}

.form-to-resource-content .cbnc-message,
.centered-form + .cbnc-message,
.self-managed-col-wrap .cbnc-message,
.newsletter-form-content .cbnc-message,
.newsletter-form-short .cbnc-message,
.demo-form-container .cbnc-message {
  margin: 20px 0 0 0;
}

.self-managed-col-wrap .cbneedsconsent {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.self-managed-col-wrap .cbnc-message {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 100%;
  width: 536px;
}

header .cbneedsconsent {
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

.cbnc-search-header {
  display: none;
}

.search-visible + .cbnc-search-header {
  background: rgba(255,255,255,1);
  border: 0 none;
  color: rgba(0,0,0,.6);
  display: block;
  left: 0;
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  top: 58px;
  width: 100%;
}

.navbar-header-dark .search-visible + .cbnc-search-header,
.navbar-header-transparent .search-visible + .cbnc-search-header {
  background: #48367d;
  color: rgba(255,255,255,.8);
}

.cbnc-search-handbook {
  background: none;
  border: 0 none;
  margin-bottom: 5px;
  padding: 0;
}

.cbnc-message-expands-true .cbnc-message-expandable {
  display: none;
}

.cbnc-message-expands-true .cbnc-message-toggle {
  cursor: pointer;
  display: block;
  text-align: center;
}

.cbnc-message-expands-true .cbnc-message-toggle:active,
.cbnc-message-expands-true .cbnc-message-toggle:focus,
.cbnc-message-expands-true .cbnc-message-toggle:hover {
  transform: scale(1.03);
}

// sass-lint:disable no-important
.cbnc-message a,
.cbnc-message a:active,
.cbnc-message a:focus,
.cbnc-message a:hover {
  color: $color-gray !important;
  text-decoration: underline;
}

.cbnc-marketo a,
.cbnc-marketo a:active,
.cbnc-marketo a:focus,
.cbnc-marketo a:hover {
  color: #333333 !important;
}

// sass-lint:disable no-important
.navbar .cbnc-message a,
.navbar .cbnc-message a:active,
.navbar .cbnc-message a:focus,
.navbar .cbnc-message a:hover {
  color: rgba(0,0,0, 0.6) !important;
  padding: 0;
}

// sass-lint:disable no-important
.navbar-header-dark .cbnc-message a,
.navbar-header-dark .cbnc-message a:active,
.navbar-header-dark .cbnc-message a:focus,
.navbar-header-dark .cbnc-message a:hover,
.navbar-header-transparent .cbnc-message a,
.navbar-header-transparent .cbnc-message a:active,
.navbar-header-transparent .cbnc-message a:focus,
.navbar-header-transparent .cbnc-message a:hover {
  color: rgba(255,255,255,.8) !important;
}

/* Footer */

.git-trademark {
  background: $color-primary-alt;
  color: rgba(255,255,255,.5);
  font-size: 14px;
  padding-bottom: 10px;
  position: relative;
  text-align: center;
  z-index: 9;
  /* ^ to match the footer and fix issue 8046 */
}

:root .source-link {
  position: relative;
  padding: 6px 15px 8px;
  color: $color-white;
  font-size: 15px;
  background: $color-primary;
  z-index: 9;

  .external-source-link {
    color: $color-white;
    border-bottom: 1px solid $color-white;

    &:hover {
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }
}

.footer-social * {
  font-size: 0;
  line-height: 0;
}

.footer .footer-social a i[class*="fa-"]:before {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 26px;
  display: inline-block;
  height: 26px;
  vertical-align: top;
  width: 26px;
}

.footer .footer-social a:active i[class*="fa-"]:before,
.footer .footer-social a:focus i[class*="fa-"]:before,
.footer .footer-social a:hover i[class*="fa-"]:before {
  background-color: $color-secondary-alt;
}

.footer .footer-social a i.fa-twitter:before {
  -webkit-mask-image: url("/images/icons/fa-twitter.svg");
  mask-image: url("/images/icons/fa-twitter.svg");
}

.footer .footer-social a i.fa-facebook:before {
  -webkit-mask-image: url("/images/icons/fa-facebook.svg");
  mask-image: url("/images/icons/fa-facebook.svg");
}

.footer .footer-social a i.fa-youtube:before {
  height: 25px;
  -webkit-mask-image: url("/images/icons/fa-youtube.svg");
  mask-image: url("/images/icons/fa-youtube.svg");
}

.footer .footer-social a i.fa-linkedin:before {
  -webkit-mask-image: url("/images/icons/fa-linkedin-in.svg");
  mask-image: url("/images/icons/fa-linkedin-in.svg");
  width: 23px;
}
