---
layout: handbook-page-toc
title: Ecosystem Contributor Experience Team
description: The Ecosystem Contributor Experience team is responsible for maintaining the GDK.
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<!-- Common Links -->
[engineering workflow]: /handbook/engineering/workflow/
[GitLab]: https://gitlab.com/gitlab-org/gitlab
[GDK]: https://gitlab.com/gitlab-org/gitlab-development-kit
[#gdk]: https://gitlab.slack.com/archives/C2Z9A056E
[#gdk-maintainers]: https://gitlab.slack.com/archives/C01QSGQJA1Z
[#gitpod-gdk]: https://gitlab.slack.com/archives/C01BHLELZKK

## About

The Contributor Experience team is a part of the [Ecosystem Stage](https://about.gitlab.com/handbook/product/categories/#ecosystem-stage).

This page covers processes and information specific to the Foundations team.

Slack Channels (internal): [#gdk], [#gdk-maintainers], and [#gitpod-gdk]

## Team Members

<%= direct_team(role_regexp: /[,&] Ecosystem:Contributor Experience/, manager_role: 'Engineering Manager, Ecosystem:Contributor Experience & Ecosystem:Foundations') %>

## OKRs

TBA

## Metrics

TBA

## Work

In general, we use the standard GitLab [engineering workflow].

To get in touch with the Contributor Experience team, create an issue in the [GDK] project.

Then, feel free to ping the relevant Engineering Manager.

For more urgent items, feel free to use [#gdk] on Slack.

### What to work on

TBA

<!-- 

<%= partial("handbook/engineering/development/dev/create/what_to_work_on.erb", locals: { group: "Contributor Experience", slack_channel: "gdk" }) %>

[issue board]: https://gitlab.com/groups/gitlab-org/-/boards/412126?label_name[]=backend&label_name[]=group%3A%3Aecosystem
[assignment board]: https://gitlab.com/groups/gitlab-org/-/boards/2168283
-->

### Issue Boards

TBA

### Workflow labels

<!-- <%= partial("handbook/engineering/development/dev/create/workflow_labels.erb", locals: { group_label: 'group::ecosystem' }) %> -->
TBA

### Capacity Planning

<!-- <%= partial("handbook/engineering/development/dev/create/capacity_planning.erb") %> -->
TBA

### Backlog Refinement

<!-- <%= partial("handbook/engineering/development/dev/ecosystem/integrations/backlog_refinement.erb") %> -->
TBA 

### Retrospectives

<!-- <%= partial("handbook/engineering/development/dev/ecosystem/integrations/retrospectives.erb") %> -->
TBA 

## Employee Development

Here are some resources team members can use for employee development:

- [Create Stage Professional Development](https://about.gitlab.com/handbook/engineering/development/dev/create/#professional-development)
- [Create Stage Training opportunities](https://about.gitlab.com/handbook/engineering/development/dev/create/engineers/training/)
- [GitLab Learning and Development](https://about.gitlab.com/handbook/people-group/learning-and-development/)
- [GitLab Learn](https://gitlab.edcast.com/)
